.rt {
    transform: rotateX(91deg);
}

.text {
    color: rgba(255, 255, 255, 0.7);
}

.maindiv {
    border: 1px solid rgba(128, 128, 128, 0.7);
}

.inp:focus~.email {
    font-size: small;
    transform: translateY(-15px);
}

.inp:focus~.inpdiv {
    border: 2px solid white;
    outline: none;
    border-radius: 8px;
}

.text-p {
    color: rgba(255, 255, 255, 0.7);
}

.box-1 {
    background: linear-gradient(149deg, #45172B 0.54%, #120C1F 75.04%);
}

.box-2 {
    background: linear-gradient(149deg, #192247 0%, #210e17 99.08%);
}

.frediv {
    background-color: rgb(45, 45, 45);
}

.text-p-footer {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline rgba(255, 255, 255, 0.7);
}

.border-f {
    border: 1px solid rgba(128, 128, 128, 0.7);
    background: rgba(22, 22, 22, 0.7);
}

.footbtn {
    background: rgb(229, 9, 20);
}

.btnshadow {
    box-shadow: 0px 0px 13px 7px black;
}

.smtran {
    border: 1px solid rgba(128, 128, 128, 0.7);
}

.newnet {
    color: rgba(255, 255, 255, 0.7);
}

.form {
    background-color: rgba(0, 0, 0, 0.7);
}

.inp2:focus~.inpdiv2 {
    border: 2px solid white;
    outline: none;
    border-radius: 8px;
    z-index: 2;
}

.inp2:focus~.email {
    font-size: small;
    transform: translateY(-15px);
}

.borderbot {
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}